<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
     <!-- Navbar -->
  <nav class="p-4 bg-gray-100 dark:bg-gray-800 shadow-md flex justify-between items-center flex-wrap">
    <h1 class="text-2xl font-bold mb-2 md:mb-0">Krish Gupta</h1>
    <div class="space-x-4 text-sm md:text-base">
      <a href="/" class="hover:text-blue-500 transition">Home</a>
      <a href="/about" class="text-blue-600 font-semibold hover:text-blue-500 transition">About</a>
      <a href="/project" class="hover:text-blue-500 transition">Projects</a>
      <a href="#contact" class="hover:text-blue-500 transition">Contact</a>
    </div>
  </nav>
    <h1>My Projects</h1>
    <ul>
        <li>
            <h2>Project 1</h2>
            <p>Description of Project 1</p>
        </li>
        <li>
            <h2>Project 2</h2>
            <p>Description of Project 2</p>
        </li>
    </ul>
</body>
</html>